<div class="panel panel-primary">
    <div *ngIf="viewlist">
        <table class="table table-bordered">
            <th>Screen Id</th>
            <th>Screen Name</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>TheatreId</th>
            <tr *ngFor="let sc of screens" class="success">
                <td> {{sc.screenId}}</td>
                <td> {{sc.screenName}}</td>
                <td> {{sc.rows}}</td>
                <td> {{sc.columns}}</td>
                <td>{{sc.theatre.theatreId}}</td>
            </tr>
        </table>
    </div>

</div>
<div class="jumbotron">
    <form #frm="ngForm" class="form-group">
        ScreenId:-<span style="color:red">*</span>
        <input #refscid="ngModel" type="number" width="20" pattern="[0-9]{2,9}" required name="screen.screenId"
            [(ngModel)]="screen.screenId" class="form-control" /><br>
        <div *ngIf="refscid.invalid" class="alert alert-danger">
            Screen ID must be filled 
        </div>
        ScreenName:-<span style="color:red">*</span>
        <input #refscname="ngModel" type="text" width="20" required  name="screen.screenName" [(ngModel)]="screen.screenName"
            class="form-control" /><br>
        <div *ngIf="refscname.invalid" class="alert alert-danger">
            Screen name must be filled
        </div>


        Rows:-<span style="color:red">*</span>
        <input #refrow="ngModel" type="text" width="20" required name="screen.rows" [(ngModel)]="screen.rows"
            class="form-control" /><br>
        <div *ngIf="refrow.invalid" class="alert alert-danger">
            Rows must be added
        </div>


        Columns:-<span style="color:red">*</span>
        <input #refcol="ngModel" type="text" width="20" required name="screen.columns"
            [(ngModel)]="screen.columns" class="form-control" /><br>
        <div *ngIf="refcol.invalid" class="alert alert-danger">
            columns must be added
        </div>


        TheaterId:-<span style="color:red">*</span>
        <input #reftid="ngModel" type="number" required pattern="[0-9]{2,9}" name="theatre.theatreId" width="20"
            [(ngModel)]="screen.theatre.theatreId" class="form-control" /><br>
        <div *ngIf="reftid.invalid" class="alert alert-danger">
            Theatre Id must be filled 
        </div>

        <button [disabled]="!refscid.valid" (click)="ViewScreen()" class="btn  btn-info">ViewScreen</button>&nbsp;&nbsp;
        <button [disabled]="!frm.valid" (click)="AddScreen()" class="btn  btn-success">AddScreen</button> &nbsp;&nbsp;
        <button [disabled]="!frm.valid" (click)="UpdateScreen()" class="btn  btn-info">UpdateScreen</button>&nbsp;&nbsp;
        <button [disabled]="!refscid.valid" (click)="DeleteScreen()"class="btn  btn-danger">DeleteScreen</button>&nbsp;&nbsp;
        <button (click)="ViewScreenList()" class="btn  btn-primary">ViewScreenList</button>&nbsp;&nbsp;

    </form>
</div>